<div class="jumbotron text-center">
    <h2>{{employee.name}}</h2>
    <h2><small>{{employee.designation}}</small></h2>
</div>

<div style="margin-left: 10em">
    <p class="glyphicon glyphicon-home"><big> Residence : {{employee.residence}}</big></p>
    <br />
    <p class="glyphicon glyphicon-earphone"><big> Mobile : {{employee.mobile}}</big></p>
</div>