<div class="tabs_div" ng-controller="LearnCtrl">
	<div class="row">
		<div class="col-md-5">
			<select ng-model="selectedItem"
				ng-options="idx as choice for (idx, choice) in tabs"
				ng-change="onTabSelected(selectedItem)">

			</select>

		</div>
		<div class="col-md-7">
			<h3>
				<span class="label label-info" ng-show="tabs[selectedItem]">{{tabs[selectedItem]}}</span>
			</h3>
		</div>
	</div>
</div>

<div ng-controller="CarouselCardCtrl" class="display">
	<carousel ng-repeat="slide in slides" interval="myInterval">
	<slide ng-repeat="cards in slide.cards">
	<div ng-repeat="item in cards.items"
		ng-class="{'card-item': !isActive, 'card-item expand': isActive}"
		ng-init="isActive = false" ng-click="displayPanel($event)">
		<h2>{{item.title}}</h2>
		<div class="div_hover">
			<p class="content">{{item.description}}</p>
			<p class="content">{{item.longDescription}}</p>
		</div>
	</div>
	</slide> </carousel>
	
</div>
<div ng-controller="DetailPanelCtrl" id="detailpanelid" class="collapse">
   <div class="detail-desc">Uploading 2 files.
	Uploaded 1 files.
	Uploaded 2 files.
	Initializing precompilation...
	Sending batch containing 1 file(s) totaling 4KB.
	Sending batch containing 1 blob(s) totaling 4KB.
	Deploying new version.
	Closing update: new version is ready to start serving.
	Uploading index definitions. 
	<div class="text-center"><button id="close-panel" class="btn btn-default" ng-click="myFunction($event)" type="button">Close</button></div>
	</div>
</div>
	




