<div class="jumbotron text-center">
    <h2>An awesome team!</h2>
</div>

<div ng-controller="TeamCtrl">

<ul class="list-unstyled" style=" padding-left: 10em; padding-right: 10em">
    <li ng-repeat="employee in employees">

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#/team/{{employee.id}}" class="thumb">{{employee.name}}</a>
            </div>
            <div class="panel-body">
                <p>{{employee.designation}}</p>
            </div>
        </div>

        <!--<a href="#/team/{{employee.id}}" class="thumb">{{employee.name}}</a>
        <p>{{employee.designation}}</p>-->
    </li>
</ul>

</div>