/* app css stylesheet */
body {
	background: #e0e0e0;
}

.carousel-caption, .carousel-indicators {
	position: static;
	margin: 0
}

.carousel-indicators {
	margin: 0 auto;
	padding-bottom: 40px;
}

.carousel {
	margin-top: 40px;
}

.carousel-indicators li, .carousel-indicators .active {
	width: 100px;
	margin-right: 20px
}

.item {
	text-align: center
}

.card-item {
	width: 200px;
	height: 30em;
	margin-right: 10px;
	overflow: hidden;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	padding: 10px;
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.card-item p {
	/* text-align: left;*/	
}

.contract {
	float: left;
}

#close-panel{
	position:absolute;
	bottom:0.5em;
}

.detail-desc {
	position:relative;
	border: 1px solid burlywood;
	padding: 2em;
	float: right;
	width: 54%;
	height: 40em;
	margin-top: 40px;
	background: whitesmoke;
}
/*.card-item.expand{
    width: 220px;
    height: 450px;
    font-size: 20px ;
}
.card-item.expand h2{
    color: #00f;
    font-size: 36px;
}*/
.base-class {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.base-class.my-class {
	color: red;
	font-size: 3em;
}

.carousel-inner {
	padding-bottom: 20px;
}

.div_hover {
	margin-right: -1rem;
	margin-left: -1rem;
	border: 1px solid white;
	/*Remove this padding later*/
	padding-top: 6em;
	background: #45B390;
	background: -moz-linear-gradient(#45B390 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, color-stop(0%, #45B390),
		color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(#45B390 0%, #FFFFFF 100%);
	background: -o-linear-gradient(#45B390 0%, #FFFFFF 100%);
	background: -ms-linear-gradient(#45B390 0%, #FFFFFF 100%);
	background: linear-gradient(#45B390 0%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45B390',
		endColorstr='#FFFFFF', GradientType=1);
}

.content:hover {
	background: #368B70;
}