body {
	background: #E0E0E0;
	color: #222;
	padding: 0;
	margin: 0;
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

/* div.info { */
/* 	-ms-transform: scale(0,2); IE 9 */
/* 	-webkit-transform: scale(0,2); Chrome, Safari, Opera */
/* 	transform: scale(0, 2); */
/* } */

#demos .owl-carousel .item {
	height: auto;
	/*background: #45B390;*/
	background:transparent;
	padding: 1rem;
}

.content {
	border-bottom: 1px solid #FFFFFF;
	
	}
.content:hover { 
    background: #368B70;
}
.div_hover {
margin-right: -1rem;
margin-left: -1rem;
margin-top: -2rem;
border: 1px solid white;
background: #45B390;
background: -moz-linear-gradient(#45B390 0%, #FFFFFF 100%);
background: -webkit-gradient(linear, color-stop(0%,#45B390), color-stop(100%,#FFFFFF));
background: -webkit-linear-gradient( #45B390 0%,#FFFFFF 100%);
background: -o-linear-gradient(#45B390 0%,#FFFFFF 100%);
background: -ms-linear-gradient(#45B390 0%,#FFFFFF 100%);
background: linear-gradient( #45B390 0%,#FFFFFF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45B390', endColorstr='#FFFFFF',GradientType=1 );
}

/* #demos .owl-carousel .item:hover{ */
/* 	background: #45B390; */
/* 	opacity:0.8; */
/* } */
#demos .owl-carousel .filler {
	height: auto;
	background: transparent;
	padding: 1rem;
}

/* .top-padding { */
/* 	padding-top: 0px; */
/* 	text-align: center; */
/* } */
.top-padding {
	padding-top: 2rem;
	text-align: center;
}

.info-padding {
	padding: 2rem;
	text-align: center;
}

.no-display {
	display: none;
}

#demos .owl-carousel .item h4 {
	color: #000000;
	font-weight: 400;
	padding: 2rem;
	background: #FFFFFF;
	margin: -16px;
}

div.item-top-padding p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;
	/*     margin-bottom: 1.25rem; */
	padding-top: 2.5rem;
	important
	!
	text-rendering
	:
	optimizelegibility;
}

div.edit hr, div.info hr {
	border: solid transparent;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.25rem 0 1.1875rem;
	height: 0;
}

#navbar, div.navbar-inverse {
	background-color: #1ccacd;
	border-color: #1ccacd;
}

section#demos, div.panel {
	padding: 0px;
}

.heading-info {
	padding: 17px 15px;
}

.nav-top {
	padding-top: 0.2rem;
}

.owl-nav {
	display: none;
}

@media ( max-width : 640px) {
	div.right-panel {
		position: absolute;
		z-index: 2;
		width: 41%;
		height: 90%;
		margin-left: 60%;
		margin-top: 2rem;
		overflow-x: auto;
	}
	#demos .owl-carousel .item h4 {
		color: #000000;
		font-weight: 400;
		padding: 0.5rem;
		background: #FFFFFF;
		margin: -16px;
	}
	#demos .owl-carousel .item {
		height: auto;
		background: #45B390;
		padding: 1rem;
		max-height: 14rem;
		overflow-x: auto;
	}
	#demos .owl-carousel .filler {
		height: auto;
		background: transparent;
		padding: 0px;
	}
	div.edit hr, div.info hr {
		border: solid transparent;
		border-width: 1px 0 0;
		clear: both;
		margin: 1.25rem 0 0.1875rem;
		height: 0;
	}
	.info-padding {
		padding: 0.5rem;
		text-align: center;
	}
	p {
		font-family: inherit;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.2rem;
		margin-bottom: 0.1rem;
		text-rendering: optimizeLegibility;
		color: #555555;
	}
	.small_device {
		padding-top: 0.5rem;
		padding-right: 0.8rem;
		padding-bottom: 0.5rem;
		padding-left: 0.8rem;
	}
}

@media ( min-width : 768px) {
	div.right-panel {
		position: absolute;
		z-index: 2;
		width: 54%;
		height: 90%;
		margin-left: 62%;
		margin-top: 2rem;
	}
}

@media ( min-width : 1024px) {
	div.right-panel {
		position: absolute;
		z-index: 2;
		width: 65%;
		height: 100%;
		margin-left: 38%;
		margin-top: 2rem;
	}
}

@media ( min-width : 1200px) {
	div.right-panel {
		position: absolute;
		z-index: 2;
		/* 		width: 60%; */
		width: 100%;
		height: 100%;
		margin-left: 38%;
		margin-top: 2rem;
	}
}

/* @media only screen and (min-width: 40.063em) { */
/* 	div.right-panel { */
/* 		position: absolute; */
/* 		z-index: 2; */
/* 		width: 54%; */
/* 		margin-left: 62%; */
/* 		margin-top: 2rem; */
/* 	} */
/* } */
.no-padding {
	/* 	padding: 0px; */
	
}

/* .info{ */
/* 	width: 15rem; */
/* 	border: 1px solid red; */
/* } */