body {background: #004444}
.carousel-caption, .carousel-indicators{position: static;margin: 0}
.carousel-indicators{margin: 0 auto;
    padding-bottom: 40px;}
.carousel{margin-top: 40px;}
.carousel-indicators li, .carousel-indicators .active {
    width: 100px; margin-right: 20px}
.item{text-align: center}
.card-item{width: 200px;margin-right: 10px;overflow: hidden;background: #fff; display: inline-block;vertical-align: top;
    border-radius: 10px; cursor: pointer;padding: 10px; margin: 5px;
    padding: 10px;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.card-item p{
    text-align: left;
}
.card-item.expand{
    width: 220px;
    height: 450px;
    font-size: 20px ;
}
.card-item.expand h2{
    color: #00f;
    font-size: 36px;
}

.base-class {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.base-class.my-class {
    color: red;
    font-size:3em;
}

.carousel-inner {
    padding-bottom: 20px;
}